@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none !important;
  text-decoration: none !important;
}

:root {
  /* font-size */
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-md1: 16px;
  --fs-lg: 24px;
  --fs-lg1: 33px;
  --fs-xl: 40px;
  --fs-xxl: 64px;

  --fs-vs-2:12px;
  --fs-very-small:14px;
  --fs-small:16px;
  --fs-md:24px;
  --fs-large:33px;
  --fs-xl:40px;
  --fs-xxl:64px;

  /* colors */
  --grey: #666666;
  --skyblue: #2C49FE;
  --lightblue: #01C8FE;
  --lightgrey: #CCCCCC;

}

/* font-size */
.fs-vs-2 {
  font-size: var(--fs-vs-2);
}

.fs-very-small {
  font-size: var(--fs-very-small);
}

.fs-small {
  font-size: var(--fs-small) !important;
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-xl {
  font-size: var(--fs-xl);
}

.fs-xxl {
  font-size: var(--fs-xxl);
}

/* colors */
.text-grey {
  color: var(--grey);
}

.text-lightgrey {
  color: var(--lightgrey);
}

.text-skyblue {
  color: var(--skyblue);
}

.text-lightblue {
  color: var(--lightblue);
}

.bg-skyblue {
  background-color: var(--skyblue) !important;
}

/* line-height */
.lh-135 {
  line-height: 135%;
}

.lh-150 {
  line-height: 150% !important;
}

.ff-poppins {
  font-family: 'Poppins', sans-serif !important;
}
.w-logo{
  width: 50px;
}

/* BUTTONS */
.common-btn {
  border-radius: 23px !important;
  display: inline-flex;
  padding: 11px 28px !important;
  align-items: flex-start;
}
.btn{
  border-radius: 23px !important;
  padding: 11px 28px !important;
}

/* cards */
.common-cards {
  border: 1px solid rgba(0, 0, 0, 0.20);
  transition: .3s;
}

.common-cards:hover {
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.10);
}

/* hero */
.HeroBg-img {
  background-image: url('./assets/images/Hero-section-bg-img.png');
}

.sec-btn {
  border-radius: 23px !important;
  display: inline-flex;
  padding: 11px 28px !important;
  align-items: flex-start;
}

.lineup::before {
  content: '';
  display: flex;
  width: 166px;
  height: 8px;
  flex-shrink: 0;
  background-color: var(--skyblue);
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 2;
}

.lineup::after {
  content: '';
  display: flex;
  width: 188px;
  height: 8px;
  flex-shrink: 0;
  background-color: var(--lightblue);
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 1;
}
.background-blue {
  background: rgba(45, 60, 174, 0.53) !important;
  height: 62px;
}
.mw-300{
  max-width: 300px;
}
ul,li{
  padding-left: 0 !important;
}
.f-showmore {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 700;
  line-height: 150%
}
@media (min-width:768px) {
  :root {
    /* font-size */
    --fs-vs-2: 12px;
    --fs-very-small: 14px;
    --fs-small: 16px;
    --fs-md: 24px;
    --fs-large: 36px;
    --fs-xl: 48px;
    --fs-xxl: 64px;
  }
  .w-logo{
    width: unset;
  }
  
}

@media (max-width:992px) {
  label[for="icon"] {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    z-index: 4;
  }

  label[for="icon"]>span {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    z-index: 3;
  }

  div.phone-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 500ms linear;
    z-index: 3;
  }

  input[type="checkbox"]:checked~.phone-view {
    right: 0;
  }

  .icon {
    z-index: 4 !important;
    position: absolute!important;
    right: 15px;
    top: 32px;
  }

  .flex-direction-col {
    display: flex;
    flex-direction: column;
  }
}
@media(min-width:992px) { 
  .p-showmore {
    width: 100%;
    height: 1005;
      padding: 13px 24px 13px 23px;
      color: #FFF;
      text-align: center;
      font-size: 12px;
      font-family: poppins;
      font-weight: 700px;
  }
  .lineup::before {
    content: '';
    display: flex;
    width: 166px;
    height: 8px;
    flex-shrink: 0;
    background-color: var(--skyblue);
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 2;
  }
  
  .lineup::after {
    content: '';
    display: flex;
    width: 188px;
    height: 8px;
    flex-shrink: 0;
    background-color: var(--lightblue);
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 1;
  }

  .background-blue {
      background: rgba(45, 60, 174, 0.53) !important;
  }
}
